#    _       _      _ _
#   (_)_   _(_) ___(_) |_ _   _
#   | | | | | |/ __| | __| | | |
#   | | |_| | | (__| | |_| |_| |
#  _/ |\__,_|_|\___|_|\__|\__, |
# |__/                    |___/
#
# Copyright (C) 2023 @juicity <https://github.com/juicity>
#
# This is a open-source software, liscensed under the AGPL-3.0 License.
# See /License for more information.

name: Check Linting (PR ONLY)

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    paths:
      - "**/*.go"
      - "**/*.c"
      - "**/*.h"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/lint.yml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.20'

      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.49.0
