#    _       _      _ _
#   (_)_   _(_) ___(_) |_ _   _
#   | | | | | |/ __| | __| | | |
#   | | |_| | | (__| | |_| |_| |
#  _/ |\__,_|_|\___|_|\__|\__, |
# |__/                    |___/
#
# Copyright (C) 2023 @juicity <https://github.com/juicity>
#
# This is a open-source software, liscensed under the AGPL-3.0 License.
# See /License for more information.

name: PR Build (Preview)
run-name:  "#${{ github.event.pull_request.number }} - ${{ github.event.pull_request.title }} @${{ github.event.pull_request.head.ref }}:${{ github.event.pull_request.head.sha }}"

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    paths:
      - "**/*.go"
      - "**/*.c"
      - "**/*.h"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/pr-build.yml"
      - ".github/workflows/seed-build.yml"

jobs:
  # pre-actions:
  #   if: ${{ github.event.pull_request.draft == false }}
  #   uses: daeuniverse/ci-seed-jobs/.github/workflows/pre-actions.yml@master
  #   with:
  #     repository: ${{ github.repository }}
  #     ref: ${{ github.event.pull_request.head.sha }}
  #     fetch-depth: 0
  #     check-runs: '["build", "pr-build-passed"]'
  #   secrets: inherit

  build:
    if: ${{ github.event.pull_request.draft == false }}
    uses: juicity/juicity/.github/workflows/seed-build.yml@ci/darwin_build
    with:
      ref: ${{ github.event.pull_request.head.sha }}
      pr-number: ${{ github.event.pull_request.number }}
      build-type: pr-build
    secrets: inherit

  # post-actions:
  #   if: always()
  #   needs: [build]
  #   uses: daeuniverse/ci-seed-jobs/.github/workflows/juicity--post-actions.yml@master
  #   with:
  #     check-run-id: "juicity-bot[bot]/pr-build-passed"
  #     check-run-conclusion: ${{ needs.build.result }}
  #   secrets: inherit
